fastapi==0.112.4
uvicorn==0.34.2

torch==2.6.0
torch_geometric==2.7.0

sentence-transformers==5.2.0
transformers==4.50.3
scikit-learn==1.7.2
numpy==2.2.6

faiss-cpu==1.8.0

pydantic==2.8.2
python-multipart==0.0.20
PyMuPDF==1.26.7

gTTS==2.5.4
googletrans==4.0.0-rc1
